*{
    margin: 0%;
    padding: 0%;
}
/* Start body style */
body{
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #ffecf3;
}
/* End body style */

/* sStart container style */
.container {
    border-radius: 10px;
    display: flex;
    width:40%;
    height: 40%;
    background-color: white;
    margin:auto;
    margin-top: 110px;
}
.container .box{
    padding: 30px;
    text-align: left;
}
.container img{
    height:410px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.container h6{
    letter-spacing: 5px;
    color: hsl(0, 0%, 61%);
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
}
.container h1{
    text-transform: capitalize;
    font-size: 32px;
    margin-bottom: 15px ;
    font-family: 'Merriweather', serif;
}
.container .p{
    font-family: 'Merriweather', serif;
    margin-bottom: 15px;
    color: hsl(0, 0%, 61%);
    line-height: 20px;
}
.container .price{
    color: hsl(164, 57%, 28%);
    font-size: 30px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 35px;
}
.container .price del {
    font-size: 10px;
    padding: 25px;
    font-weight: 100;
}
.container a{
    text-decoration: none;
    color: white;
    background-color: hsl(164, 57%, 28%);
    padding: 10px 64px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

/* End container style */
